DOMAIN=app.tudominio.com
ACME_EMAIL=admin@tudominio.com

POSTGRES_DB=sicomoro
POSTGRES_USER=sicomoro
POSTGRES_PASSWORD=cambia-esta-clave-larga

JWT_ISSUER=Sicomoro
JWT_KEY=cambia-esta-clave-jwt-minimo-64-caracteres-y-no-la-subas-a-git

SWAGGER_ENABLED=false

